.input-area {
    display: flex;
    padding: 10px;
    background-color: #4a4a4a;
    color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px);
    left: 0;
}

.input-area input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    color: white;
    background-color: #333;
}

.input-area button {
    background-color: #5a5a5a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;
}

.input-area button:hover {
    background-color: #6b6b6b;
}