body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover {
  color: rgb(98, 98, 251);
  text-decoration: underline;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-grow: 1;
  background-color: #333;
}

